<div class="example-box" cdkDrag >

  <div class="example-handle" cdkDragHandle>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Rajnikant Lodhi</mat-card-title>
        <mat-card-subtitle>Coder</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/123432.jpg" alt="discovery Pictures">
      <mat-card-content>
        <p>
          An image is an artifact that depicts visual perception, such as a photograph or other two-dimensional picture,
          that resembles a subject—usually a physical object—and thus provides a depiction of it. In the context of
          signal processing, an image is a distributed amplitude of color.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>
<div class="example-box" cdkDrag>

  <div class="example-handle" cdkDragHandle>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Rajnikant Lodhi</mat-card-title>
        <mat-card-subtitle>Coder</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/3454.jpg" alt="discovery Pictures">
      <mat-card-content>
        <p>
          An image is an artifact that depicts visual perception, such as a photograph or other two-dimensional picture,
          that resembles a subject—usually a physical object—and thus provides a depiction of it. In the context of
          signal processing, an image is a distributed amplitude of color.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>
<div class="example-box" cdkDrag>

  <div class="example-handle" cdkDragHandle>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Rajnikant Lodhi</mat-card-title>
        <mat-card-subtitle>Coder</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/loving.jpg" alt="discovery Pictures">
      <mat-card-content>
        <p>
          An image is an artifact that depicts visual perception, such as a photograph or other two-dimensional picture,
          that resembles a subject—usually a physical object—and thus provides a depiction of it. In the context of
          signal processing, an image is a distributed amplitude of color.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>
<div class="example-box" cdkDrag>

  <div class="example-handle" cdkDragHandle>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Rajnikant Lodhi</mat-card-title>
        <mat-card-subtitle>Coder</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images.jpg" alt="discovery Pictures">
      <mat-card-content>
        <p>
          An image is an artifact that depicts visual perception, such as a photograph or other two-dimensional picture,
          that resembles a subject—usually a physical object—and thus provides a depiction of it. In the context of
          signal processing, an image is a distributed amplitude of color.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>
<div class="example-box" cdkDrag>
  <!-- I can only be dragged using the handle -->

  <div class="example-handle" cdkDragHandle>
    <mat-card class="example-card" style="position:absolute">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Rajnikant Lodhi</mat-card-title>
        <mat-card-subtitle>Coder</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/betterfy.jpg" alt="discovery Pictures">
      <mat-card-content>
        <p>
          An image is an artifact that depicts visual perception, such as a photograph or other two-dimensional picture,
          that resembles a subject—usually a physical object—and thus provides a depiction of it. In the context of
          signal processing, an image is a distributed amplitude of color.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>