.example-card {
  max-width: 400px;
}
.example-header-image {
  background-image: url('../../../assets/rajni.jpg');
  background-size: cover;
}
.example-box{
  position: absolute;
  padding: 22px;
  border-radius: 40px;
}
